    
<div class="backgroundcookies" id="cookiesbox">

    <div class="container-imagecookies"><img class="imagepopup" src="assets/images/cookies/dessincookies.jpg"></div>

    <div class="textecookies">
        <p>Nous utilisons des cookies pour nous assurer du bon fonctionnement de notre site, pour personnaliser notre contenu et nos publicités, 
        pour proposer des fonctionnalités disponibles sur les réseaux sociaux et afin d’analyser notre trafic.</p>
    </div>

    <input class="cookiesaccepter" type="button" value="Accepter et fermer">
    <u>
        <h4 id="quitter" class="cookie">Refuser et quitter le site</h4>
    </u>
        
</div>
     
