<div id="tipsnoel" class="imagenoel-titre"><img  src="assets/images/tips/titrenoel.png" alt="" /></div>
<div class="tipsintrotext">
    <div class="texthaut">
        <p>Pendant les fêtes, pensez à appliquer les gestes barrières.</p>
    </div>

    <div class="textmilieu"> 
        <p>Cette année, les fêtes de fin d’années sont particulières. Les personnes souffrant de solitude ou de précarité ont plus que jamais besoin de vous. 
    </div>
    
    <div class="textbas">
        <p>C’est le moment pour vous de faire un geste, une action, un don.</p>
    </div>
</div>