<div class="wrapper">
    {% include tipsNoel/tips.html tipsnumero="Tips1" 
    texttips="Pensez à vos voisins, se sont peut-être des personnes âgées qui ont envie de discuter et qui souffrent de solitude. Un petit geste fait toute la différence, alors allez-y !" 
    url="sapin.png" %}

    {% include tipsNoel/tips.html tipsnumero="Tips2" 
    texttips="Vous avez trop cuisiné ? Ne jetez plus et donnez ce que vous ne mangez pas à ceux qui en ont le plus besoin. Pour ça vous pouvez faire appel à “tel asso”." 
    url="boule1.png" %}
  
    {% include tipsNoel/tips.html tipsnumero="Tips3" 
    texttips="HipHipFood: Donner des denrées alimentaires, des produits d’hygiène ou encore d’entretien afin de permettre à tous de passer un meilleur Noël." 
    url="sapin2.png" %}

    {% include tipsNoel/tips.html tipsnumero="Tips4" 
    texttips="Avez vous des vêtements devenus trop petits ou que vous n’utilisez pas ? Vous pouvez faire des heureux en les donnant aux plus démunis ! Vous pourrez trouver des bornes Relais de don partout en France." 
    url="boule2.png" %}

    {% include tipsNoel/tips.html tipsnumero="Tips5" 
    texttips="Faire des dons aux associations en cette période peut permettre à beaucoup de survivre pendant ces périodes de froid. Une couverture ou des vêtements que vous ne mettez plus, ils ont besoin de vous. " 
    url="sapin3.png" %}

    {% include tipsNoel/tips.html tipsnumero="Tips6" 
    texttips="Vous ne pouvez pas fêter Noël avec certains membres de votre famille cette année ? Pensez à utiliser des visios conférences ou même à les appeler, garder le lien familial pendant ces périodes difficiles, ne laissez pas des personnes
    de votre famille être isolées !" 
    url="sapin4.png" %}
</div>