<div id="tipsnoel" class="imagenoel-titre"><img  src="assets/images/tips/titrenoel.png" alt="" /></div>
<div class="tipsintrotext">
    <div class="texthaut">
        <p>Pendant les fêtes,<br> pensez à appliquer les <br> gestes barrières.</p>
    </div>

    <div class="textmilieu"> 
        <p>Cette année, les fêtes de fin <br> d’années sont particulières.<br> Les personnes souffrant de <br> solitude ou de précarité ont <br> plus que jamais <b> besoin de <br> vous. </b> 
    </div>
    
    <div class="textbas">
        <p>C’est le moment pour vous de faire <b>un geste, une action, un don.</p>
    </b></div>
</div>