<div class="menu">
    <input id="burger" type="checkbox" />

        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        
        <nav>
            <img src="assets/images/icone_assos/LOGO FINIS.png" class="imglogo2">

            <div class="menunavbar">
                    <a href="#bienvenue" class="menunavbarlink ancre1 ">Bienvenue</a>
                    <a href="#agissez" class="menunavbarlink ancre2">Agissez</a> 
                    <a href="#tipsnoel" class="menunavbarlink ancre3">Tips de Noël</a> 
                    <a href="#contact"class="menunavbarlink ancre4">Contact</a> 
            </div>
            <div class="menunavbardesktop">
                <a href="#bienvenue" class="menunavbarlink ancre1 ">Bienvenue</a>
                <a href="#agissez" class="menunavbarlink ancre2">Agissez</a> 
                <a href="#tipsnoel" class="menunavbarlink ancre3">Tips de Noël</a> 
                <a href="#contact"class="menunavbarlink ancre4">Contact</a> 
            </div>


                <!-- Trait de séparation -->
                <hr class="separation">
                <!-- -->

            <img src="assets/images/icone_assos/LOGO FINIS.png" class="imglogo"> 
        </nav>

</div>