<div class="menu">
    <input id="burger" type="checkbox" />

        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <img src="assets/images/icone_assos/LOGO FINIS.png" class="imglogo2">
        <nav>

            <div class="menunavbar">
                   <br> <a href="#Bienvenue" class="menunavbarlink">Bienvenue</a> <br> <br>
                    <a href="#Agissez" class="menunavbarlink">Agissez</a> <br> <br>
                    <a href="#Tips" class="menunavbarlink">Tips de Noël</a> <br> <br>
                    <a href="#Contact"class="menunavbarlink">Contact</a> <br> <br>
            </div>


                <!-- Trait de séparation -->
                <hr class="separation">
                <!-- -->

            <img src="assets/images/icone_assos/LOGO FINIS.png" class="imglogo"> 
        </nav>

</div>