
<div class="my-slider">
    <div class="carrousel-content">
        
        <h3>A la une cette semaine</h3>
        <div class="carrousel-asso">
            <div class="icone-asso">
                <img src="assets/icones/Monoliso.svg" alt="" />
            </div>
            <p>MonoLiso</br>Une association de lutte contre l’isolement des personnes âgées. Faites un don ou devenez bénévole.</p>
            <button class="btn"><a href="">Soutenir</a></button> 
        </div>       
    </div>
    <div class="carrousel-content">
        <h3>Localisez vous</h3>
         <p>Vous souhaitez vous engager ? Trouver des associations près de chez vous.</p>
         <div class="map">
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d90493.78086028878!2d-0.6561805253800463!3d44.86370654580202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1607609876092!5m2!1sfr!2sfr" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         </div>
         <button id="chercher" class="btn">Chercher</button>  
         {% include formulaire.html %}
        
    </div>
    <div class="carrousel-content">
        <h3>Nos dernières actions</h3>
        <h4>Dernières actualités</h4>
        <p>Nous avons réussi à collecter plus de 10 000 euros pour l’association Ostra.</p>
        <p>Plus de 1000 nouveaux bénévoles chaque mois.</p>
        <p>Nous sommes déjà venu en aide à plus de 30000 personnes partout en France.</p>          
    </div>
</div>
<script >
    var bntPopup = document.getElementById('chercher');
    var bntClose = document.getElementById('button1');
    var overlay = document.getElementById('overlay1');
    
    btnPopup.onclick = openModal;
    btnClose.onclick = closePopup;
    
    function openModal() {
        overlay1.style.display = 'block';
    }
    
    function closePopup() {
        overlay1.style.display = 'none';
    }
</script>






