<div class="carrousel" id="carousel">
    <div class="container-event">
        <div class="container-event-text">
            <h3>Fête du cinéma d'animation</h3>
            <h4>Du 14 au 31 Octobre</h4>
        </div>
    </div>
    <div class="container-event">
        <a href="#" class="link">
            <img class="container-event-image" src="assets/vampire.jpg" alt="Diffusion du film Petit Vampire de Joann Sfar" />
        </a>
        <div class="container-event-text">
            <h3>Petit Vampire</h3>
            <h4>Séance Halloween le 31 Octobre à 18h30</h4>
        </div>
    </div>
    <div class="container-event">
        <a href="#" class="link">
            <img class="container-event-image" src="assets/totoro.jpg" alt="Diffusion du film Mon Voisin Totoro de Hayao Miyazaki" />
        </a>
        <div class="container-event-text">
            <h3>Mon Voisin Totoro</h3>
            <h4>Présentation du film par Simon Morgan le 6 Novembre à 21h00</h4>
        </div>
    </div>
    <div class="container-event">
        <a href="#" class="link">
            <img class="container-event-image" src="assets/close_encounters.jpg" alt="Diffusion du film Close Encounters, Rencontre du Troisième Type, de Steven Spielberg" />
        </a>
        <div class="container-event-text">
            <h3>Rencontre du 3ème Type</h3>
            <h4>Du 4 au 8 Novembres</h4>
        </div>
    </div>
</div>