<div class="carrousel" id="carousel">
    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <div id="slides">
           <div id="overflow">
              <div class="inner">
                 <div class="slide slide_1">
                    <div class="slide-content">
                       <h2>A la une cette semaine</h2>
                       <div class="icone-asso">
                           <img src="assets/icones/monoliso.png" alt="" />
                        </div>
                        <p>MonoLiso</br> Une association de lutte contre l’isolement des personnes âgées. Faites un don ou devenez bénévole.</p>
                       <button class="btn">Soutenir</button>
                       
                    </div>
                 </div>
                 <div class="slide slide_2">
                    <div class="slide-content">
                       <h2>Slide 2</h2>
                       <p>Content for Slide 2</p>
                    </div>
                 </div>
                 <div class="slide slide_3">
                    <div class="slide-content">
                       <h2>Slide 3</h2>
                       <p>Content for Slide 3</p>
                    </div>
                 </div>
                 <div class="slide slide_4">
                    <div class="slide-content">
                       <h2>Slide 4</h2>
                       <p>Content for Slide 4</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div id="controls">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
           <label for="slide4"></label>
        </div>
        <div id="bullets">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
           
        </div>
     </div>