<div id="overlay1" class="overlay1">
    <div class="popup">
    <form class="formulaire">

        <input type="texte" placeholder="Prénom"/> 
        <input class="taille-formulaire nom" type="texte"  placeholder="Nom"/> 
        <input class="taille-formulaire mail"type="texte"  placeholder="Adresse Mail"/> 
        <input class="taille-formulaire code" type="texte"  placeholder="Code Postal"/> 
        <input class="taille-formulaire ville"type="texte"  placeholder="Ville"/> 

        <textarea name="message" id="message" rows="10" cols="60" placeholder="Comment souhaitez-vous aidez ?"></textarea> 
        <script src="https://www.google.com/recaptcha/api.js" async defer></script> 
        <div class="g-recaptcha" data-sitekey="la_clé_du_site"></div> 
        <div class="button-submit">
            <button id="button1">Annuler</button>  
            <button id="button2">Valider</button>
        </div>
    </form>
    </div>
</div>

    