
    <div class="partenaire">
        <h2 id="partenaire" class="text-partenaire">Ils nous font confiance</h2> 
            <div class="picto_asso">
                <div class="picto">
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Associations Petites Princesses.svg" alt="princesses"> 
                            </div>
                            <div class="text_image">
                                <h4>Les petites princesses</h4>
                            </div>
                    </div>
                   
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Aliment_banque.svg" alt="aliment">
                            </div>
                            <div class="text_image">
                                <h4>Aliment' banque</h4>
                            </div>
                    </div>

                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Restau_solidaire.svg" alt="restau">
                            </div>
                            <div class="text_image">
                                <h4>Restau solidaire</h4>
                            </div>
                    </div>
                    

                </div>
               
                <div class="picto">      
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Mmaüs.svg" alt="Mmaus">
                            </div>
                            <div class="text_image">
                                <h4>Mmaus</h4>
                            </div>
                    </div>
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Fondation Pierre AB.svg" alt="PierreAbbe">
                            </div>
                            <div class="text_image">
                                <h4>Pierre Abbé</h4>
                            </div>
                    </div>
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Rescousse Pop.svg" alt="Rescousse">
                            </div>
                            <div class="text_image">
                                <h4>Rescousse Pop'</h4>
                            </div>
                    </div>
                </div>
      

            </div>
    </div>
                
              
                  
                         

            