
    <div class="partenaire">
        <h2 id="partenaire" class="text-partenaire">Ils nous font confiance</h2> 
            <div class="picto_asso">
                <div class="picto">
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Associations Petites Princesses.svg" alt="princesses"> 
                            </div>
                        <h3>Les petites princesses</h3>
                    </div>
                   
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Aliment_banque.svg" alt="aliment">
                            </div>
                        <h3>Aliment' banque</h3>
                    </div>

                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Restau_solidaire.svg" alt="restau">
                            </div>
                        <h3>Restau solidaire</h3>
                    </div>
                    

                </div>
               
                <div class="picto">      
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Mmaüs.svg" alt="Mmaus">
                            </div>
                        <h3>Mmaus</h3>
                    </div>
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Fondation Pierre AB.svg" alt="PierreAbbe">
                            </div>
                        <h3>Pierre Abbé</h3>
                    </div>
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Rescousse Pop.svg" alt="Rescousse">
                            </div>
                        <h3>Rescousse Pop'</h3>
                    </div>
                </div>
      

            </div>
    </div>
                
              
                  
                         

            