//@media (min-width: 400px) {
    .shapes-background {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #f4f2f3;
        background: url(../images/svg/Wave1.svg) 0% 0px no-repeat, 
                    url(../images/svg/Wave2.svg) right 270px no-repeat,
                    url(../images/svg/shape5.svg) 0% 173% no-repeat, 
                    url(../images/svg/Wave3.svg) -13% 717px no-repeat;
        height: 100em;
        width: 100%;
        padding-bottom: 223px;
    }

.shapes-tipsnoel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url(../images/svg/formetitre.svg) 50% 0px no-repeat, 
                url(../images/svg/fil4.svg) -53% 2294px no-repeat, 
                url(../images/svg/fil3.svg) 117% 981px no-repeat, 
                url(../images/svg/fil1.svg) 160% 402px no-repeat,
                url(../images/svg/fil6.svg) 153% bottom no-repeat, 
                url(../images/svg/shape5.svg) 0% -40px no-repeat, 
                url(../images/svg/fil2.svg) 0% 1622px no-repeat,
                url(../images/svg/shape4.svg) 100% 700px no-repeat,
                url(../images/svg/shape2.svg) -5% 1316px no-repeat,
                url(../images/svg/shape3.svg) -1% 2652px no-repeat,
                url(../images/svg/shape6.svg) right 1763px no-repeat;
    background-color: #18447D ;
    height: 210em;
    width: 100%;
            
    }

    .shapes-partenaires {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url(../images/svg/shape1.svg) 0% -85px no-repeat;
    padding-top: 75px;

}
    
//}