@media (min-width: 400px) {
    .shapes-background {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #f4f2f3;
        background: url(../images/svg/Wave1.svg) 0% 0px no-repeat, 
                    url(../images/svg/Wave2.svg) right 270px no-repeat,
                    url(../images/svg/shape5.svg) 0% 1560px no-repeat, 
                    url(../images/svg/Wave3.svg) left 950px no-repeat;
        height: 100em;
        width: 100%;
    }

    .shapes-tipsnoel {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: url(../images/svg/fil2.svg) 0% 1622px no-repeat, 
                    url(../images/svg/fil4.svg) -53% 2294px no-repeat, 
                    url(../images/svg/fil3.svg) 117% 981px no-repeat, 
                    url(../images/svg/fil1.svg) 160% 402px no-repeat, 
                    url(../images/svg/shape5.svg) 0% -40px no-repeat, 
                    url(../images/svg/shape4.svg) 100% 700px no-repeat,
                    url(../images/svg/shape2.svg) -5% 1316px no-repeat;
                
                    

        background-color: #18447D ;
        height: 210em;
        width: 100%;
    }
}