#slider {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 60%;   
    max-width: 100%;
    text-align: center;
 }
 
 
.btn{
    background-color:#E06615;
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    font-size: 1.3em;
    margin: 20px;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    background: #fff;
    position: relative;
    z-index: 1;
    .slide{
        display: flex;
        flex-wrap: wrap;
    }
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 460px;
 }
 #slides .slide {
    width: 25%;
    border-radius: 15px;
    float:left;
    display: block;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #D1E5FF;   
 }
 #slides .slide_2 {
    background: #D1E5FF;
 }
 #slides .slide_3 {
    background: #D1E5FF;
 }
 
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(1){
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3) {
    background: #444;
 }
 
 @media (min-width: 400px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(1),
  
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(1){
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
       p{
           display: flex;
           color: #000;
           font-size: 1.3em;
           padding: 5px;
           margin-top: 10px;
       }

       .slide-content{
           padding: 10px;
           
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;

           h2{
               font-size: 1.5em;
               margin-top: 25px;
               
           }
       }
    }
    
    #slider{
       width: 100%;
    }

    .icone-asso{
        margin-top: 20px;
        img{
            width:70%;
        }
    }

    
    
 }
 
 @media (min-width: 1200px){
    #slider{
       width: 60%;
    }
 }