@media (min-width:400px) {

    .agissez{
            margin-top: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: inline-block;
            margin: auto;
            font-family: $font-family;
            font-size: $font-size-h2;
    }

    .carrousel-content{
        background-color: #D1E5FF;
        margin: auto;
        height: 550px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        position: relative;
          

        .carrousel-asso{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            flex: 2;
            height: auto;

        }
        
        .icone-asso{
            display: flex;
            justify-content: center;
            margin: 30px 20px;
            
            
                img{
                    width: 90%;
                }
            
        }

        h3{
            margin-top: 40px;
            text-align: center;
            font-family: $font-family;
            font-size: $font-size-h3;
        }

        h4{
            text-align: center;
            font-size: 1.3em;
            font-family: $font-family;
            font-size: $font-size-h4 ;
            margin-top: 60px;
        }

        p{
            text-align: center;
            width: 70%;
            margin: 20px auto;
            font-size: 1.2em;
            font-family: $font-family;
        }    

        .actualites{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            p{
                margin: 10px;
            }
        }
    }

    .overlay1 {
        position: absolute;
        width: 100%;
        height: 90%;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        text-align: center;
        justify-content: space-around;
       
       
    }

    .pop{
        width: 90%;
        z-index: 10;
    }
 
    .btn{
        background-color:#E06615;
        border: none;
        border-radius: 15px;
        padding: 10px;
        font-size: 1.3em;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        
        a{
            color: #fff;
            text-decoration: none;

        }
    }
    .tns-controls{
        display: flex;
        justify-content: space-around;
        margin: 20px 0px 40px 0px;
        button{
            background-color:#E06615;
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            padding: 10px;
            font-size: 1.3em;
            color: #fff;
            
            
        }
    }
    .tns-outer{
        margin: auto;
        margin-bottom: 30px;
        width: 80%;
        border-radius: 30px;
       // box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
        
    }

    .tns-nav{
        display: flex;
        justify-content: center;
        margin: 20px 0px 40px 0px;
        .tns-nav-active{
            background-color:#E06615;
            border: none;
            
        }
        button{
            width: 4px;
            height: 12px;
            border-radius: 6px;
            border: none;
            margin: 5px;
            background-color: #B7C4D6;
        }    
    }
    

}