        @media all and (min-width:400px) {

            .textecookies {
                justify-content: space-around;
                width: 48%;
                margin: auto;
                margin-bottom: 15%;
                margin-top: 15%;
                align-items: center;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                padding-left: 6%;
                padding-right: 6%;
                font-size: 1.4em;
                color: black;
            }
            .container-imagecookies {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
            .image {
                margin: auto;
                align-items: center;
                width: 85%;
                padding-bottom: 2%;
            }
            .cookiesaccepter {
                width: 60%;
                height: 100%;
                padding-top: 8%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                border: 0;
                line-height: 2.5;
                padding: 0 20px;
                font-family: 'Montserrat', bold, sans-serif;
                font-size: 1.2rem;
                font-style: bold;
                text-align: center;
                color: #fff;
                border-radius: 10px;
                background-color: #2074E0;
                background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
            }


            .styleda:hover {
                background-color: #679fe9;
            }

            .styledb:hover {
                background-color: #696969

            }

            h4 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                border: 0;
                line-height: 2.5;
                padding: 0 20px;
                font-family: 'Montserrat', bold, sans-serif;
                font-size: 1rem;
                font-style: bold;
                text-align: center;
                color: #998A8A;
            }

        }
            @media all and (min-width:1200px) {
             
                .image{
                    margin: auto;
                    align-items: center;
                    width: 40%;
                    padding-top: 5%;

                }


                .textecookies{
                    font-size: 1.6em;
                    padding-top: 0%;
                    margin: auto;
                    padding-bottom: 3%;

                }

                .cookiesaccepter {
                    width: 40%;
                    height: 100%;
                    padding-top: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    border: 0;
                    line-height: 2.5;
                    padding: 0 20px;
                    font-family: 'Montserrat', bold, sans-serif;
                    font-size: 1.8rem;    
                }
                h4 {
                    width: 30%;
                    height: 80%;
                    padding-top: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    border: 0;
                    line-height: 2.5;
                    padding: 0 20px;
                    font-family: 'Montserrat', bold, sans-serif;
                    font-size: 1rem;
                    font-style: bold;
                    text-align: center;
                    color: #998A8A;
                    
            }

            }