.formulaire{
    background-color: #D1E5FF;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    height: 530px;

    input{
        margin: 10px;
        border-radius: 30px;
        padding: 5px;
        border: 1px solid #2074E0;
    }
    .button-submit{
        display: flex;
        margin: 10px 30px 10px 5px;
        justify-content: space-between;
    }
    #button1{
        background-color: #E06615;
        border-radius: 20px;
        padding: 10px;
        color: #fff;
        border: none;
        width: 40%;
        margin: auto;
    }
    #button2{
        background-color: #E06615;
        border-radius: 20px;
        padding: 10px;
        color: #fff;
        border: none;
        width: 40%;
    }

    #message{
        border: 1px solid #2074E0;
        border-radius: 15px;
        padding: 5px 0px;

    }

    
}
