
@media (min-width:400px) {
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            
    
    }

    .container-imagenoel {
        font-family: 'Montserrat', sans-serif;  
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 320px;
        margin: 55px;
        position: relative;
        
        
    }
    .imagenoel {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        filter: blur(1px);

        
    }

    .imagenoel-titre{
        width: 60%;
        margin: auto;
        img{
            width: 100%;
            
        }
        
    }
    .tipstext {
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        width: 75%;
        height: auto;
        p{
            padding: 10px;
        }
    }
    .tipsnumero {
        color: #fff;
        border: 2px solid; 
        padding: 7px 15px;
        margin: 10px 10px;
        border-radius: 12px;
        top: 0;
        align-self: flex-end;
        position: absolute;
    }
    
    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }
    
    .tips{
        background-color: rgba(24, 68, 125, 0);
    }
    .tipsintrotext{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 85%;
        color: #fff;
        
        .texthaut{
            font-weight: 600;
            font-size: 24px;
            line-height: 1.3;
            text-align: left;
            align-self: flex-start;
            margin: 85px 35px 45px 0px;
            width: 80%;
        }
       
        .textmilieu {
            font-size: 20px;
            letter-spacing: 0.3px;
            line-height: 1.2;
            text-align: right;
            align-self: flex-end;
            margin: 50px 0px 40px 0px;
            width: 80%;
        }
      
        .textbas {
            font-size: 20px;
            letter-spacing: 0.3px;
            line-height: 1.2;
            text-align: right;
            align-self: flex-end;
            margin: 0px 0px 200px 0px;
            width: 80%;
        }
    }


@media (min-width:1200px) {
    .wrapper{
        flex-direction: row;
        flex-wrap: wrap;;
        
    }
    .container-imagenoel {
        
        width: 35%;
        height: 500px;
        margin: 40px;
       
    }
    .imagenoel {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        
    }
    .tipstext {
        padding: 20px;
        p{
            font-size: 1.5em;
            padding: 45px;
        }
    }
    .tipsnumero {
        p{
            font-size:1.5em;
        }
    }
    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }
    .tipsintrotext{
        font-size: 1.7em;
        .textmilieu{
            width: 60%;
        }
       
    }
    .p{
        letter-spacing: 0.3px;
    }
}
}