<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="footer.css" />
    </head>

    <body>
        <footer>
            
        <!-- BLUE PART -->

            <div class="footer-top-section">

                <!-- SOCIAL NETWORK -->

                <div class="social-network">
                    <div class="social-network-icon">
                        <a href=""
                            ><img
                                src="icon\facebook_icon_color.png"
                                alt="Facebook"
                        /></a>
                        <a href=""
                            ><img
                                src="icon\instagram.png"
                                alt="Instagram"
                        /></a>
                        <a href=""
                            ><img
                                src="icon\twitter.png"
                                alt="Twitter"
                        /></a>
                        <a href=""
                            ><img
                                src="icon\youtube.png"
                                alt="Youtube"
                        /></a>
                    </div>
                </div>
                    
                <!-- NAVBAR -->

                    <div class="navbar">
                        <a href="#Bienvenue">Bienvenue</a>
                        <a href="#Agissez">Agissez</a>
                        <a href="#Tips">Tips de Noël</a>
                    </div>

                <!-- VERTICAL LINE -->

                <div class="vl">
                </div>
                
                <!-- CONTACT BUTTON -->

                    <div class="submit-button">
                        <a href=""><h2>Contactez nous !</h2></br>herewithyou@gmail.com</a>
                    </div>
            </div>
        
        <!-- BLACK PART -->

            <div class="footer-bottom-section">
                    <a
                        href=""
                        >Plan du site</a
                    >
                    <a
                        href=""
                        >Mentions légales</a
                    >
                    <a
                        href=""
                        >Crédits</a
                    >
            </div>
        </footer>
    </body>
</html>
