<div class="homepage">

    <div id="bienvenue" class="container-imagehome">
        <img class="image" src="/assets/images/bienvenue/imagedessin1.jpg">
    </div>
    
    <div class="text-bienvenue">
        <h1>Bienvenue sur le site</h1>
        <h2 class="bienvenue">HereWithYou</h2>
    </div>

    <div class="p1"><p>Ici vous pouvez aider à votre manière les personnes en situation d’isolement.</p></div>
    <div class="p2"><p>Trouvez l'association qui vous convient le plus grâce à la géolocalisation et agissez à tout moment.</p></div>
    

    <a href="#Agissez">
        <img class="flecheicone" src="/assets/icones/flechebas.png">
    </a>

</div>