
    <div class="partenaire">
        <h2 id="partenaire">Ils nous font confiance</h2> 
            <div class="picto_asso">
                <div class="picto">
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Associations Petites Princesses.png" alt="princesses"> 
                            </div>
                        <h3>Les petites princesses</h3>
                    </div>
                   
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/aliment_banque.png" alt="aliment">
                            </div>
                        <h3>Aliment' banque</h3>
                    </div>

                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Restau_solidaire.png" alt="restau">
                            </div>
                        <h3>Restau solidaire</h3>
                    </div>
                    

                </div>
               
                <div class="picto">      
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Mmaüs.png" alt="Mmaus">
                            </div>
                        <h3>Mmaus</h3>
                    </div>
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Fondation Pierre AB.png" alt="PierreAbbe">
                            </div>
                        <h3>Pierre Abbé</h3>
                    </div>
                    
                    <div class="image_text">
                            <div class="imageptn">
                                <img src="/assets/images/icone_assos/Rescousse Pop.png" alt="Rescousse">
                            </div>
                        <h3>Rescousse Pop'</h3>
                    </div>
                </div>
      

            </div>
    </div>
                
              
                  
                         

            