
    <div class="partenaire">
        <h2>Ils nous font confiance</h2> 
            <div class="picto_asso">
                <div class="picto_haut">
                    
                    <div class="image_texte1">
                        <img src="/assets/images/icone_assos/Associations Petites Princesses.png" alt="princesses"> 
                        <h3>Les petites princesses</h3>
                    </div>
                   
                    <div class="image_text2">
                        <img src="/assets/images/icone_assos/Restau_solidaire.png" alt="restau">
                        <h3>Restau solidaire</h3>
                    </div>
                    
                    <div class="image_text3">
                        <img src="/assets/images/icone_assos/aliment_banque.png" alt="aliment">
                        <h3>Aliment'banque</h3>
                    </div>
                </div>
               
                <div class="picto_bas">
                    
                    <div class="image_text4">
                        <img src="/assets/images/icone_assos/Mmaüs.png" alt="Mmaus">
                        <h3>Mmaus</h3>
                    </div>
                    
                    <div class="image-text5">
                        <img src="/assets/images/icone_assos/Fondation Pierre AB.png" alt="PierreAbbe">
                        <h3>Fondation Pierre Abbé</h3>
                    </div>
                    
                    <div class="image-text6">
                         <img src="/assets/images/icone_assos/Rescousse Pop.png" alt="Rescousse">
                        <h3>Rescousse Pop'</h3>
                    </div>
            </div>
    </div>
                
              
                  
                         

            