<footer>

    <!-- BLUE PART -->

    <div class="footer-top-section">

        <!-- SOCIAL NETWORK -->

        <div class="social-network-icon">
            <a href="https://www.facebook.com/pierre.here.73/"><img src="assets/icones/facebook.png" alt="Facebook" /></a>
            <a href="https://www.instagram.com/here_withyouu/?hl=fr"><img src="assets/icones/instagram.png" alt="Instagram" /></a>
            <a href="https://twitter.com/HereWithYou10"><img src="assets/icones/twitter.png" alt="Twitter" /></a>
            <a href="https://www.youtube.com/channel/UCo7jSf0xrv7UGxeKO5aDw7Q"><img src="assets/icones/youtube.png" alt="Youtube" /></a>
        </div>

        <div class="footer-middle-section">
            <!-- NAVBAR -->

            <div class="navbar">
                <a href="#Bienvenue" class="navbarlink">Bienvenue</a>
                <a href="#Agissez" class="navbarlink">Agissez</a>
                <a href="#Tips" class="navbarlink">Tips de Noël</a>
            </div>

                <!-- CONTACT BUTTON -->

                <div class="submit-button">
                    <a href="mailto:herewithyouu@gmail.com">
                        <div class="contacter">
                            <h2>Contactez nous !</h2>
                            <p>herewithyou@gmail.com</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- BLACK PART -->

    <div class="footer-bottom-section">
        <a href="" class="otherslink">Plan du site</a>
        <a href="" class="otherslink">Mentions légales</a>
        <a href="" class="credit-margin">Crédits</a>
    </div>
</footer>
